<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/MurphDurty">Casey</a>. A web developer who is on a mission to develop the technical skills needed to launch MVPs and turn peoples' ideas into reality.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag "casey.png", class: "img-fluid" %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center about-name">Casey Murphy</h2>
      <br/>
      <p>
        Casey Murphy is a web developer, project manager, and all around cool guy.
        He believes in being the positive force of meaningful change in any aspect of his life.
        Previously he was the systems administrator for a large enterprise's creative department as well as an operations manager for a smaller print design business.
        He's also one hell of a nerd.
      </p>
    </div>
  </div>
<br class="clear" />

</div>
