<h2>
  Here's the <u>best unsolicited inspiration</u> you can could ask for!
  <br/>
  <br/>
  <span>SPLURTY / No. <%= @quote.id %></span>
</h2>
<br/>

<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= break_the_lines(@quote.author) %></h2>

<br class="clear" />
<br />
<br />
<br />
